<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>鏈上生活節 2019 - Lennon on Blockchain</title>
    <%= stylesheetTag("bundle.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            連儂牆管理後台
          </a>
        </div>
      </div>
      <div class="navbar-brand">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/logout">
                <strong>登出</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= partial("layouts/blumaflash.html") %>
      <%= yield %>
    </div>
    <%= javascriptTag("bundle.js") %>
  </body>
</html>
